# Banco de Dados
DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=shopobre_user
DB_PASS=shopobre_password
DB_NAME=shopobre_db


# Local: use localhost. Docker: use o nome do serviço "minio"
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=shopobre
MINIO_USE_SSL=false


# MINIO_ROOT_USER=minioadmin
# MINIO_ROOT_PASSWORD=minioadmin

# Admin (apenas para ambiente local/dev)
# Usado no boot do servidor para criar um ADMIN automaticamente.
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123

# Stripe (pagamentos)
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
# Opcional: para webhook de confirmação de pagamento
# STRIPE_WEBHOOK_SECRET=whsec_...
